@model BookAddViewModel

@{
    Layout = "~/Views/Shared/BookLayout.cshtml";
}

<div class="container" style="display: flex; align-items: start; justify-content: center; margin-top:-20px;">
    <div class="form-container" style="width: 80%; max-width: 800px;">
        <form asp-controller="Book" method="post" asp-action="Add" enctype="multipart/form-data">

            <div style="text-align: center; margin-bottom: 20px;">
                <img src="/Images/@(Model.Book.BookImage ?? "default.jpg")" alt="Uploaded Image" style="width:150px;height:150px;" />
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Book.Name"></label>
                        <input class="form-control my-1" asp-for="@Model.Book.Name" />
                        <span asp-validation-for="@Model.Book.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <label asp-for="@Model.Book.Id"></label>
                        <input class="form-control my-1" asp-for="@Model.Book.Id" />
                        <span asp-validation-for="@Model.Book.Id" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Book.Genre"></label>
                        <input class="form-control my-1" asp-for="@Model.Book.Genre" />
                        <span asp-validation-for="@Model.Book.Genre" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Book.Author"></label>
                        <input class="form-control my-1" asp-for="@Model.Book.Author" />
                        <span asp-validation-for="@Model.Book.Author" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Book.Pages"></label>
                        <input class="form-control my-1" type="number" asp-for="@Model.Book.Pages" />
                        <span asp-validation-for="@Model.Book.Pages" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Book.Price"></label>
                        <input class="form-control my-1" type="number" step="0.01" asp-for="@Model.Book.Price" />
                        <span asp-validation-for="@Model.Book.Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Book.Quantity"></label>
                        <input class="form-control my-1" type="number" asp-for="@Model.Book.Quantity" />
                        <span asp-validation-for="@Model.Book.Quantity" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="image">Select Image</label>
                        <input type="file" id="image" name="BookImageFile" accept="image/*" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Book.Description"></label>
                        <textarea class="form-control my-1" asp-for="@Model.Book.Description"></textarea>
                        <span asp-validation-for="@Model.Book.Description" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div class="btn-container" style="display: flex; justify-content: center; margin-top: 20px;">
                <a asp-controller="Books" asp-action="Index" class="btn btn-secondary" style="margin-right: 10px;">Cancel</a>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    </div>
</div>
